<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/main.css">
</head>
    <body ng-app="MaterialRss">

    <div ng-controller="MainController">
<div layout="column" layout-fill="" tabindex="-1" role="main">
            <md-toolbar >
                <h2 class="md-toolbar-tools">
                    <span>Budget</span>
                </h2>
            </md-toolbar>

            <div flex layout="column" layout-fill class="layout-content">
                  <md-whiteframe class="md-whiteframe-z1 budget_list">
                        <md-toolbar class="budget_list_toolbar">
                            <h2 class="md-toolbar-tools">
                                <span>Toolbar</span>
                            </h2>
                        </md-toolbar>

                        <md-list>
                            <md-item ng-repeat="item in budget.income">
                                <md-item-content>
                                    <div class="md-tile-left">
                                        <img ng-src="{{item.face}}" class="face" alt="{{item.who}}">
                                    </div>
                                    <div class="md-tile-content">
                                        {{item.description}}
                                    </div>
                                </md-item-content>
                            </md-item>
                        </md-list>
                  </md-whiteframe>

                  <md-whiteframe class="md-whiteframe-z1 budget_list">
                        <md-toolbar class="budget_list_toolbar">
                            <h2 class="md-toolbar-tools">
                                <span>Toolbar</span>
                            </h2>
                        </md-toolbar>

                        <md-list>
                            <md-item ng-repeat="item in budget.expenses">
                                <md-item-content>
                                    <div class="md-tile-left">
                                        <img ng-src="{{item.face}}" class="face" alt="{{item.who}}">
                                    </div>
                                    <div class="md-tile-content">
                                        {{item.description}}
                                    </div>
                                </md-item-content>
                            </md-item>
                        </md-list>
                  </md-whiteframe>
            </div>
        </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/hammerjs/hammer.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="js/controllers/MainController.js"></script>

</body>
</html>
