<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/main.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
    <body ng-app="MaterialRss">

    <div ng-controller="MainController">
<div layout="column" layout-fill="" tabindex="-1" role="main">
            <md-toolbar >
                <h2 class="md-toolbar-tools">
                    <span>Budget</span>
                </h2>
            </md-toolbar>

            <div flex layout="column" layout-fill class="layout-content">
                <h4 class="budget_list_heading">Income</h4>
                <md-whiteframe class="md-whiteframe-z1 budget_list">

                    <md-list>
                        <md-item ng-repeat="item in budget.income">
                            <md-item-content class="budget_list_item">
                                <div class="md-tile-content " layout layout="row">
                                    <div class="budget_list_description" flex="33">{{item.description}}</div>
                                    <div class="budget_list_category"  flex="33">{{item.category}}</div>
                                    <div class="budget_list_amount"  flex="33">{{item.amount}}</div>
                                </div>
                            </md-item-content>
                        </md-item>
                    </md-list>
                </md-whiteframe>

                <h4 class="budget_list_heading">Expenses</h4>
                  <md-whiteframe class="md-whiteframe-z1 budget_list">
                    <md-list>
                        <md-item ng-repeat="item in budget.expenses">
                            <md-item-content class="budget_list_item">
                                <div class="md-tile-content " layout layout="row">
                                    <div class="budget_list_description" flex="33">{{item.description}}</div>
                                    <div class="budget_list_category"  flex="33">{{item.category}}</div>
                                    <div class="budget_list_amount"  flex="33">{{item.amount}}</div>
                                </div>
                            </md-item-content>
                        </md-item>
                    </md-list>
                  </md-whiteframe>
            </div>
        </div>
    </div>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/hammerjs/hammer.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>
    <script src="js/controllers/MainController.js"></script>

</body>
</html>
