<md-dialog aria-label="Add a feed">
  <md-content class="md-padding">
   <md-input-container>
        <form name="feedForm">
            <label>Feed URL</label>
                <input class="feed_url_input" type="url" name="url" required ng-model="feed.url">
                <div class="feed_error" ng-show="addError">
                    We could not process the feed URL
                </div>
             </md-input-container>
          </form>


  </md-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()">
     Cancel
    </md-button>
    <md-button  ng-disabled="adding" ng-click="add()" class="md-primary">
      Add
    </md-button>
  </div>
</md-dialog>
