<md-dialog aria-label="Add a feed">
  <md-content class="md-padding">
   <md-input-container>
        <form name="feedForm">
            <label>Feed URL</label>
                <input class="feed_url_input" type="url" name="url" required ng-model="feed.url">
 <!--                <div class="md-input-invalid ">
                    <span ng-show="feedForm.url.$error.url">Please provide a valid url</span>
                    <span ng-show="feedForm.bio.$dirty && feedForm.url.$error.required">URL is required</span>
                </div> -->
             </md-input-container>
          </form>

  <md-progress-linear md-mode="indeterminate" ng-show="adding"></md-progress-linear>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()">
     Cancel
    </md-button>
    <md-button  ng-disabled="adding" ng-click="add()" class="md-primary">
      Add
    </md-button>
  </div>
</md-dialog>
