body {

font-family: 'Roboto', sans-serif;
}

md-content.md-default-theme {
    background-color: #ECECEC;
}

.layout-content {
    max-width: 1024px;
    width: 90%;
    margin:0 auto;
}

md-toolbar.rss_list_toolbar {
    background-color: #616161;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.rss_list {
    margin-top:25px;
    margin-bottom: 25px;
}


.rss_list_icon {
    margin-left: 10px;
    width: 25px;
}


md-whiteframe, md-card {
    background-color: #fff;
}


.rss_list_heading {
    padding-bottom:0px;
    margin-bottom: -10px;
    padding-left: 20px;
    color: #999;
    font-size: 16px;
    font-weight: 500;
}

.rss_list_item {
    border-top: solid 1px #ECECEC;
}

.rss_list_add_btn  {
    position: fixed;
    bottom: 20px;
    right:20px;
}


md-item:first-child .rss_list_item {
    border-top: none;
}


.rss_list_amount {
    color: #333;
    font-weight: 700;
    text-align: right;
}


.feed_url_input {
    width: 250px;
}


.rss_list_sync {
    margin-top: -5px;
}

.feed_error {
    color: rgb(244,67,54);;
}

.rss_list_item_title {
    font-size: 13px;
}
